@{
    ViewBag.Title = "О нас";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        В каталог государственных сайтов включены официальные информационные интернет-ресурсы, посвященные деятельности государственных ведомств.
    </p>

    <p>
        Навигация в каталоге организована таким образом, чтобы вы могли быстро найти нужное ведомство и его контактную информацию, ознакомиться с предоставляемыми услугами или перейти на официальный сайт.
    </p>
</article>
